# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* Create a Jupyter Notebook 
* Insert code and markdown cells
* Share your notebook through GitHub

* Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Scala 
4. Julia
<b>
* Some of the commonly used libraries used by Data Scientists include:
1. pandas 
2. Tensorflow
3. scikit-learn
4. stringr

#### Data Science Tools

| Data Science Tools |
| --- |
| RStudio |
| Spyder |
| jupyterlab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
def convert_min_2_hour(mins):
    r = mins % 60
    m = mins // 60
    return str(m) + ":" + str(r)
convert_min_2_hour(200)

'3:20'

## Author 
<br>
Abdulaziz Salman